<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>@@title</title>
    <link rel="stylesheet" href="@@path@@cssFile">
</head>
<body>
  <header class="header @@class-header">
    <div class="container">
      <div class="row">
        <div class="logo">
          <a href="index.html" class="logo__link">
            <svg class="logo__img" id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.86 51.9">
              <defs>
                <style>
                  .cls-1 {
                    fill: #fff;
                  }

                  .cls-2 {
                    fill: #fa4c29;
                  }
                </style>
              </defs>
              <title>logo</title>
              <g id="Layer_15" data-name="Layer 15">
                <g>
                  <path class="cls-1" d="M4390.9,23.14V43.32h-3.37V27.76l-5.61,15.56H4379l-5.75-15.56V43.32h-3.34V23.14h5l5.64,15.79L4386,23.14h4.93Z" transform="translate(-4369.93 -20.87)"/>
                  <path class="cls-1" d="M4430.26,35.32a8.5,8.5,0,0,1-2.58,5.78,8.37,8.37,0,0,1-6,2.17,8.51,8.51,0,0,1-6.68-2.82,10.82,10.82,0,0,1-2.51-7.48,12,12,0,0,1,1.08-5.12,9.3,9.3,0,0,1,13.72-3.42,7.19,7.19,0,0,1,2.79,5h-3.42a4.52,4.52,0,0,0-1.66-2.77,5.06,5.06,0,0,0-3.2-1,5.13,5.13,0,0,0-3.33,1.1,6,6,0,0,0-1.93,2.72A10.59,10.59,0,0,0,4416,33a10.7,10.7,0,0,0,.33,2.71,8.39,8.39,0,0,0,1,2.33,4.87,4.87,0,0,0,1.81,1.7,5.41,5.41,0,0,0,2.66.63q4.39,0,5-5h3.45Z" transform="translate(-4369.93 -20.87)"/>
                  <path class="cls-1" d="M4386.94,50.94V71h-3.53V54h-9.2V71h-3.53V50.94h16.26Z" transform="translate(-4369.93 -20.87)"/>
                  <path class="cls-1" d="M4431.22,71V51h3.52V66.37l8.6-15.35h4.08V71h-3.51V55.68L4435.3,71h-4.08Z" transform="translate(-4369.93 -20.87)"/>
                  <path class="cls-1" d="M4468.6,63.24A8.5,8.5,0,0,1,4466,69a8.37,8.37,0,0,1-6,2.17,8.51,8.51,0,0,1-6.68-2.82,10.82,10.82,0,0,1-2.51-7.48,12,12,0,0,1,1.08-5.12,9.3,9.3,0,0,1,13.72-3.42,7.19,7.19,0,0,1,2.79,5H4465a4.52,4.52,0,0,0-1.66-2.77,5.07,5.07,0,0,0-3.2-1,5.13,5.13,0,0,0-3.33,1.1,6,6,0,0,0-1.93,2.72,10.59,10.59,0,0,0-.57,3.52,10.7,10.7,0,0,0,.33,2.71,8.39,8.39,0,0,0,1,2.33,4.87,4.87,0,0,0,1.81,1.7,5.41,5.41,0,0,0,2.66.63q4.39,0,5-5h3.45Z" transform="translate(-4369.93 -20.87)"/>
                  <path class="cls-2" d="M4460,24a5.7,5.7,0,0,1,5.69,5.69c0,1.77-2.65,6.2-5.69,10.26-3-4.06-5.69-8.49-5.69-10.26A5.7,5.7,0,0,1,4460,24m0-3.1a8.79,8.79,0,0,0-8.79,8.79c0,4.85,8.79,15.24,8.79,15.24s8.79-10.39,8.79-15.24a8.79,8.79,0,0,0-8.79-8.79h0Z" transform="translate(-4369.93 -20.87)"/>
                  <path class="cls-2" d="M4399.44,51.85a5.7,5.7,0,0,1,5.69,5.69c0,1.77-2.65,6.2-5.69,10.26-3-4.06-5.69-8.49-5.69-10.26a5.7,5.7,0,0,1,5.69-5.69m0-3.1a8.79,8.79,0,0,0-8.79,8.79c0,4.85,8.79,15.24,8.79,15.24s8.79-10.39,8.79-15.24a8.79,8.79,0,0,0-8.79-8.79h0Z" transform="translate(-4369.93 -20.87)"/>
                  <path class="cls-1" d="M4404.28,23.11l7.79,20.21h-3.8L4406.35,38h-8l-2,5.36h-3.66l7.79-20.21h3.77Zm1.13,12.19-3-8.5-3.15,8.5h6.15Z" transform="translate(-4369.93 -20.87)"/>
                  <polygon class="cls-1" points="72.71 2.44 69.22 2.44 62.02 22.44 65.4 22.44 70.98 7.71 76.4 22.44 79.91 22.44 72.71 2.44"/>
                  <polygon class="cls-1" points="49.95 30.44 46.09 30.44 38.12 50.44 41.86 50.44 48.04 34.13 54.04 50.44 57.92 50.44 49.95 30.44"/>
                </g>
              </g>
            </svg>
          </a>
          <div class="logo__text">
            <p>Моторные масла и автотовары</p>
            <p>СПб и область</p>
          </div>
        </div>
        <div class="fast-contact">
          <a href="tel:88008888888" class="fast-contact__phone">8 800 888 8888</a>
          <p class="fast-contact__workmode">
            <span class="fast-contact__worktime">8:00</span>
            <span class="fast-contact__worktime">21:00</span>
            <span class="fast-contact__workday">без выходных</span>
          </p>
        </div>
        <div class="header__burger">
          <span></span>
        </div>
      </div>
      <!-- .row -->

      <div class="nav-line">

        <div class="container">
          <div class="row">
            <div class="basket-box">
              <a href="" class="basket-box__link"><span class="basket-box__number">3</span> <span class="basket-box__text">товара в корзине</span></a>
            </div>
            <nav class="main-nav">
              <ul class="main-nav__list">
                <li><a href="catalog.html">Масла</a></li>
                <li><a href="catalog.html">Фильтры</a></li>
                <li><a href="catalog.html">Антифризы</a></li>
                <li><a href="catalog.html">Автохимия</a></li>
                <li><a href="catalog.html">Автокосметика</a></li>
              </ul>
            </nav>
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->

        <div class="nav-search">
          <ul class="nav-search__nav">
            <li class="nav-search__nav-item">
              <a href="delivery.html" class="nav-search__nav-link nav-search__nav-link--orange">Доставка и оплата</a>
            </li>
            <li class="nav-search__nav-item">
              <a href="contacts.html" class="nav-search__nav-link">Точка продаж</a>
            </li>
          </ul>
          <form action="#" class="nav-search__search">
            <label for="header-search" class="nav-search__search-label"></label>
            <input id="header-search" type="text" class="nav-search__search-input">
            <button class="nav-search__search-btn"></button>
          </form>
        </div>

      </div>
      <!-- .nav-line -->

    </div>
    <!-- .container -->

  </header>
  <main class="@@main-class">