.footer {
  color: #fff;
  background-color: @dark-gray;
  padding: 45px 0 40px 0;

  @media screen and (min-width: @tablet-width) {
    padding: 75px 0 40px 0;
  }

  @media screen and (min-width: @desktop-width) {
    
  }

  &__head {
    font-size: 14px;
    margin-top: 0;
    text-transform: uppercase;
    color: @white;
    font-weight: normal;
  }

  &__list {
    font-size: 14px;
    padding-left: 0;
    
    & li {
      list-style: none;
      margin-bottom: 5px;
    }

    & a {
      color: @white;
      text-decoration: none;
      font-size: 12px;
      line-height: 16px;


      &:hover {
        color: @orange;
      }
    }
  }

  &__logo {
    display: none;

    @media screen and (min-width: @tablet-width) {
      .col-3;
      display: block;
    }

    @media screen and (min-width: @desktop-width) {
      
    }

    &-link {
      display: block;
      text-decoration: none;
    }

    &-slogan {
      display: block;
      color: #fff;
      font-size: 10px;
      font-weight: normal;
      font-family: @font-arial-narrow;
      margin-top: 10px;
    }
  }

  & .logo__img {
    width: 130px;
  }

  &__catalog {
    .col-12;
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (min-width: @tablet-width) {
      .col-2;
      margin-top: 0;
      margin-bottom: 0;
    }

    @media screen and (min-width: @desktop-width) {
      
    }
  }

  &__partners {
    .col-12;
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (min-width: @tablet-width) {
      .col-2;
      margin-top: 0;
      margin-bottom: 0;
    }

    @media screen and (min-width: @desktop-width) {
      
    }
  }

  &__contacts {
    .col-12;
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (min-width: @tablet-width) {
      .col-2;
      margin-top: 0;
      margin-bottom: 0;
    }

    @media screen and (min-width: @desktop-width) {
      
    }
  }

  &__pay {
    .col-12;
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (min-width: @tablet-width) {
      .col-offset-1;
      .col-2;
      margin-top: 0;
      margin-bottom: 0;
    }

    @media screen and (min-width: @desktop-width) {
      
    }
  }

  &__pay-system {
    width: 37px;
    display: inline-block;
    vertical-align: top;
  }

  .copypast {
    text-align: left;
    font-size: 8px;
    padding-right: 30px;

    @media screen and (min-width: @tablet-width) {
      text-align: right;
    }

    @media screen and (min-width: @desktop-width) {
      
    }
  }
}