.header {
  background-color: @dark-gray;
  color: @white;
  position: relative;

  & > .container {
    padding-top: 18px;
    padding-bottom: 18px;
    position: relative;

    @media screen and (min-width: @mobile-width) and (max-width: (@tablet-width - 1)){
      width: @mobile-width;
    }

    @media screen and (min-width: @tablet-width) {
      
    }

    @media screen and (min-width: @desktop-width) {
      padding-top: 18px;
      padding-bottom: 18px;
      position: static;

    }
  }

  &__burger {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    z-index: 5000;
    cursor: pointer;

    @media screen and (min-width: @tablet-width) {
      height: 28px;
    }

    @media screen and (min-width: @desktop-width) {
      display: none;
    }

    & span {
      display: block;
      position: relative;
      margin-top: 10px;
      width: 30px;
      height: 4px;
      background-color: #fff;
      border-radius: 2px;
      transition: all .3s ease;

      @media screen and (min-width: @tablet-width) {
        width: 40px;
        height: 6px;
      }

      @media screen and (min-width: @desktop-width) {
        width: 40px;
        height: 5px;
      }
    
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: #fff;
        right: 0;
        border-radius: 2px;
        transition: all .3s ease;

        @media screen and (min-width: @tablet-width) {
          width: 40px;
          height: 6px;
        }

        @media screen and (min-width: @desktop-width) {
          width: 40px;
          height: 5px;
        }
      }
    
      &:after {
        top: 10px;

        @media screen and (min-width: @desktop-width) {
          top: 12px;
        }
      }

      &:before {
        bottom: 10px;

        @media screen and (min-width: @desktop-width) {
          bottom: 12px;
        }
      }
    }

    &--close {

      & span {
        background-color: transparent;
        margin-top: 12px;
        
        &:before, &:after {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;

          @media screen and (min-width: @desktop-width) {
            bottom: 0px;
            top: 0;
          }
        }
        
        &:before {
          transform: rotate(45deg);
        }
        
        &:after {
          transform: rotate(-45deg);
        }
      }
    }

  }
}

.logo {
  display: none;

  @media screen and (min-width: @tablet-width) {

  }

  @media screen and (min-width: @desktop-width) {
    display: block;
    .col-5;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }
  
  &__text, &__img {
    display: inline-block;
    vertical-align: bottom;

    @media screen and (min-width: @tablet-width) {

    }

    @media screen and (min-width: @desktop-width) {
      vertical-align: middle;
    }
  }

  &__img {
    width: 98px;
  }

  &__text {
    margin-left: 10px;

    & p {
      margin: 0;
      margin-top: 15px;
      line-height: 14px;
      text-transform: lowercase;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.fast-contact {
  .col-12;

  @media screen and (min-width: @tablet-width) {

  }

  @media screen and (min-width: @desktop-width) {
    .col-3;
  }

  &__phone {
    font-size: 21px;
    text-decoration: none;
    color: @white;
  }

  &__workmode {
    display: none;

    @media screen and (min-width: @tablet-width) {

    }

    @media screen and (min-width: @desktop-width) {
      display: block;
      font-size: 11px;
      margin-bottom: 0;
    }
  }
}

.nav-search {
  .col-12;
  position: relative;

  @media screen and (min-width: @tablet-width) {

  }

  @media screen and (min-width: @desktop-width) {
    .col-4;
    float: none;
    position: absolute;
    right: 0;
    top: 15px;
  }

  &__nav {
    padding-left: 0;
    margin-bottom: 0;
    .clearfix();
    
    @media screen and (min-width: @tablet-width) {

    }

    @media screen and (min-width: @desktop-width) {
      
    }
  }

  &__nav-item {
    display: inline-block;
    // margin-right: 15px;
    float: none;

    @media screen and (min-width: @tablet-width) {

    }

    @media screen and (min-width: @desktop-width) {
      .col-4;
    }

    &:first-child {
      display: none;

      @media screen and (min-width: @tablet-width) {

      }

      @media screen and (min-width: @desktop-width) {
        display: inline-block;
      }
    }
  }

  &__nav-link {
    color: #fff;
    text-decoration: none;

    &--orange {
      color: @orange;
    }
  }

  &__search {
    // width: 100%;
    height: 30px;
    // background-color: yellow;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
  }



  &__search-label {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url(../img/icon-search.png);
  }

  &__search-input {
    display: none;
    width: 0;

    &:focus {
      width: 100%;
    }
  }

  &__search-btn {
    display: none;
  }

}

.nav-line {
  background-color: #000;
  padding: 40px 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  @media screen and (min-width: @mobile-width) {
    top: 0;
  }

  @media screen and (min-width: @tablet-width) {
    position: static;
    display: block;
  }

  @media screen and (min-width: @desktop-width) {
    top: 100%;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    // position: static;
    display: block;
  }
}

.main-nav {
  .col-12;

  @media screen and (min-width: @tablet-width) {

  }

  @media screen and (min-width: @desktop-width) {
    .col-8;
    .col-offset-1;
  }

  &__list {
    margin: 0;
    padding: 0;

    @media screen and (min-width: @tablet-width) {

    }

    @media screen and (min-width: @desktop-width) {
      text-align: right;
    }
  }

  & li {
    display: block;
    margin: 20px 0;

    @media screen and (min-width: @tablet-width) {

    }

    @media screen and (min-width: @desktop-width) {
      display: inline-block;
      margin: 0;
      margin-left: 83px;
      // text-align: center;
    }
    
    &:first-child {
      margin-left: 0;
    }
  }

  & a{
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: @white;
    transition: all 0.1s ease;

    @media screen and (min-width: @tablet-width) {

    }

    @media screen and (min-width: @desktop-width) {
      display: inline-block;
      // text-align: center;
      font-size: 14px;
    }

    &:hover {
      color: @orange;
    }
  }
}

.basket-box {
  .col-12;
  font-size: 12px;
  margin-bottom: 50px;
  // .col-offset-r-1;
  // float: right;
  // text-transform: lowercase;
  // text-align: right;

  @media screen and (min-width: @tablet-width) {

  }

  @media screen and (min-width: @desktop-width) {
    .col-2;
    .col-offset-r-1;
    float: right;
    text-transform: lowercase;
    text-align: right;
    margin-bottom: 0;
  }

  &__link {
    text-decoration: none;
    color: @white;
    transition: all 0.1s ease;

    &:hover {
      color: @orange;
    }
  }

  &__number {
    color: @orange;
  }
}